@-moz-document url-prefix("https://tasks.google.com/embed/") {
	body,
	.PV0kIb,
	.w2MQg.YfT1Ke,
	.uKwQle,
	.RpC4Ne.oJeWuf,
	.llhEMd[isfullscreen="true"] {
		background-color: #1f1f1f !important;
	}
	.RFmU6c,
	.htVQK,
	.RpC4Ne.oJeWuf,
	.F1pOBe.snByac {
		color: #e8e8e8;
	}
	.uqJv0c {
		background-color: #2b2b2b;
	}
	.PbnGhe {
		background-color: #1f1f1f;
	}
	.LMgvRb {
		color: #e8e8e8 !important;
	}
	.AgHUbf {
		background-color: #2b2b2b;
	}
	.g3VIld {
		background-color: #1f1f1f;
		color: #e8e8e8 !important;
	}
}